/* * {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
}

html {
	font-size:62.5%;
} */

body {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header, footer {

	/* height: 50px; */
}

header {

}

#jumbotron-1 {
	background-image: url('images/001.png');
	background-repeat: no-repeat;
	background-size: cover;
}

footer {

}

.shadow-d {
	/* box-shadow: 10px 1px 10px grey; */
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
} 
.shadow-u {
	box-shadow: -10px -1px 10px rgba(0,0,0,.15) !important;
} 

.fa-0-5 {
	font-size: 0.5em;
}

.fa-0-75 {
	font-size: 0.75em;
}

.fa-1 {
	font-size: 1em;
}

.fa-1-5 {
	font-size: 1.5em;
}

.fa-2 {
	font-size: 2em;
}

.fa-3 {
	font-size: 3em;
}